{% extends 'base.html' %}{% block title %} Homepage {% endblock %} {% block content %}
<div class="container center">
    {% for message in messages %}

    <div class="alert alert-warning">
        <a class="close" href="#" data-dismiss="alert">×</a> {{ message }}

    </div>
    {% endfor %}

    <form method="post" novalidate>
        {% csrf_token %} {{ form.non_field_errors }} {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field }} {% endfor %}

        <table border="1">
            {% for field in form.visible_fields %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>
                    {{ field.errors }}
                    <p class="input">{{ field }}</p>
                    <p class="help">{{ form.validators }}</p>
                    <small style="color: rgb(233, 111, 95);">{{ field.help_text|safe }}</small>

                </td>
            </tr>
            {% endfor %}
        </table>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha verify" style="display:{{cap}} ;" data-sitekey="6LfqIOQUAAAAAIeXBjEXr5-k92eC4z4N_cWFRv29"></div>

        <button class="btn btn-primary button" type="submit">Register</button>
        <label>Already registered? <a href="/signup/login">login</a></label>
    </form>
    <p>Note: The time to present a captcha has been set for 3 attempts and 2 minutes just for testing <br> and it can be changed for 24 hours(1 day)</p>
</div>
{% endblock %}